.title {
  font-size: 12px;
  color: #999;
}

.value {
  font-size: 25px;
  letter-spacing: 1px;
  margin-top: 5px;
  color: #000;
}

.chart {
  height: 50px;
  background-color: moccasin;
}

.line {
  border-top: 1px solid #eeeeee;
  margin: 10px 0;
}

.total {
  font-size: 12px;
}